---
---

$content-width: 70%;

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #383838;
}
